.fond_principal {
  background-attachment: fixed;
  background-image: url(degrade_fond.png);
  background-repeat: repeat-y;
}
.menu {
  font-weight: bold;
  font-style: italic;
  font-size: 80%;
}
body {
  background-attachment: fixed;
  background-position:  center center;
}
#titre_page {
  font-style: italic;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
  color: #990000;
  font-size: 171.3%;
  text-transform: uppercase;
  background-image: url(../photos/filet.jpg);
  background-position: center top;
  background-repeat: repeat-x;
}
#A_la_une {
  font-family: Courier New;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  font-size: 20px;
  color: #993399;
}
#titre_club {
  font-family: Comic Sans MS;
  font-size: 17px;
  color: #663366;
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  text-decoration: underline;
}
